My workflow 3 (1).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        192
      ],
      "id": "f2d96b4a-0755-4746-940b-e352d9eeff74",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320542336,
          "mode": "list",
          "cachedResultName": "Transaction_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit#gid=320542336"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -816,
        192
      ],
      "id": "6690a4ab-6fef-4100-bb65-57ea11f0bccc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9h0nAh2v2l0QsSG7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $input.item.json;\n\nlet score = 0;\nlet rules = [];\n\nconst transactionId = row[\"Transaction_ID\"] || \"\";\nconst customerName = row[\"Customer_Name\"] || \"\";\nconst amount = parseFloat(row[\"Amount_(INR)\"]) || 0;\nconst location = row[\"Location\"] || \"\";\nconst accAge = parseInt(row[\"Account_Age_(Days)\"]) || 0;\nconst prevTxn = parseInt(row[\"Prev_Txn_Count\"]) || 0;\nconst outflow = parseFloat(row[\"Outflow_Ratio_%\"]) || 0;\nconst txnType = row[\"Transaction_Type\"] || \"\";\nconst impTravel = row[\"Impossible_Travel\"] || \"\";\nconst timeStr = row[\"Transaction_Time\"] || \"\";\nconst hour = timeStr ? parseInt(timeStr.split(\" \")[1]?.split(\":\")[0]) : 12;\n\nif (amount > 50000) { score++; rules.push(\"R1:HighValue\"); }\nif ([10000, 50000, 100000].includes(amount)) { score++; rules.push(\"R2:RoundAmount\"); }\nif (amount < 10 && accAge < 30) { score++; rules.push(\"R3:MicroProbe\"); }\nif (impTravel === \"Yes\") { score++; rules.push(\"R4:VelocityBreach\"); }\nif (outflow > 90) { score++; rules.push(\"R5:MulePattern\"); }\nif (hour >= 1 && hour <= 4) { score++; rules.push(\"R6:OffHours\"); }\nif (accAge > 90 && prevTxn < 2) { score++; rules.push(\"R7:DormantSpike\"); }\nif (prevTxn === 0 && amount > 40000) { score++; rules.push(\"R8:FirstHighVal\"); }\nif (location === \"Unknown\" || location === \"Foreign\") { score++; rules.push(\"R9:ForeignLoc\"); }\nif (txnType.includes(\"UPI\") && amount > 5000) { score++; rules.push(\"R11:UPIAbuse\"); }\nif (location === \"Foreign\" && amount >= 40000 && amount <= 49999) { score++; rules.push(\"R12:CrossBorder\"); }\n\nlet status = \"\";\nif (score === 0) status = \"CLEAR\";\nelse if (score === 1) status = \"LOW RISK\";\nelse if (score <= 3) status = \"MEDIUM RISK\";\nelse status = \"HIGH RISK\";\n\n$input.item.json.Transaction_ID = transactionId;\n$input.item.json.Customer_Name = customerName;\n$input.item.json[\"Amount_(INR)\"] = amount;\n$input.item.json.Location = location;\n$input.item.json.Rules_Triggered = rules.length > 0 ? rules.join(\", \") : \"None\";\n$input.item.json.Risk_Score = score;\n$input.item.json.Fraud_Status = status;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        192
      ],
      "id": "bd0f34ce-eb93-41ac-a649-498a50eae28c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9fcd739-93b0-446d-9270-3513d0704b57",
              "leftValue": "={{ $json.Risk_Score }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        192
      ],
      "id": "fa016cd8-5ceb-462a-816a-140b4e57684c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "57005c5f-460a-4276-b426-6d1747ddb45c",
              "leftValue": "={{ $json.Risk_Score }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        288
      ],
      "id": "2c6d9d66-feb6-41ad-8f82-9f07274fc53f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c621f39-d0ad-4083-8046-0daec0158f4d",
              "leftValue": "={{ $json.Risk_Score }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        416
      ],
      "id": "cb5cd35b-dec0-464a-bf2b-a218cb31c94b",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320542336,
          "mode": "list",
          "cachedResultName": "Transaction_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit#gid=320542336"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rules_Triggered": "={{ $json.Rules_Triggered }}",
            "Risk_Score": "={{ $json.Risk_Score}}",
            "Transaction_ID": "={{ $json.Transaction_ID }}",
            "Fraud_Status": "={{ $json.Fraud_Status }}"
          },
          "matchingColumns": [
            "Transaction_ID"
          ],
          "schema": [
            {
              "id": "Transaction_ID",
              "displayName": "Transaction_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer_ID",
              "displayName": "Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount_(INR)",
              "displayName": "Amount_(INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Time",
              "displayName": "Transaction_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account_Age_(Days)",
              "displayName": "Account_Age_(Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prev_Txn_Count",
              "displayName": "Prev_Txn_Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outflow_Ratio_%",
              "displayName": "Outflow_Ratio_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Type",
              "displayName": "Transaction_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Merchant_Category",
              "displayName": "Merchant_Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Device_Status",
              "displayName": "Device_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Impossible_Travel",
              "displayName": "Impossible_Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rules_Triggered",
              "displayName": "Rules_Triggered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Score",
              "displayName": "Risk_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fraud_Status",
              "displayName": "Fraud_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        48
      ],
      "id": "8cf5a135-408a-4656-8ecf-ad3f5b53f354",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9h0nAh2v2l0QsSG7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320542336,
          "mode": "list",
          "cachedResultName": "Transaction_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit#gid=320542336"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transaction_ID": "={{ $json.Transaction_ID }}",
            "Rules_Triggered": "={{ $json.Rules_Triggered }}",
            "Risk_Score": "={{ $json.Risk_Score }}",
            "Fraud_Status": "={{ $json.Fraud_Status }}"
          },
          "matchingColumns": [
            "Transaction_ID"
          ],
          "schema": [
            {
              "id": "Transaction_ID",
              "displayName": "Transaction_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer_ID",
              "displayName": "Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount_(INR)",
              "displayName": "Amount_(INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Time",
              "displayName": "Transaction_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account_Age_(Days)",
              "displayName": "Account_Age_(Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prev_Txn_Count",
              "displayName": "Prev_Txn_Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outflow_Ratio_%",
              "displayName": "Outflow_Ratio_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Type",
              "displayName": "Transaction_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Merchant_Category",
              "displayName": "Merchant_Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Device_Status",
              "displayName": "Device_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Impossible_Travel",
              "displayName": "Impossible_Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rules_Triggered",
              "displayName": "Rules_Triggered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Score",
              "displayName": "Risk_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fraud_Status",
              "displayName": "Fraud_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        192
      ],
      "id": "61045dab-682f-463c-ade9-249e7027d5fa",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9h0nAh2v2l0QsSG7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320542336,
          "mode": "list",
          "cachedResultName": "Transaction_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit#gid=320542336"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transaction_ID": "={{ $json.Transaction_ID }}",
            "Rules_Triggered": "={{ $json.Rules_Triggered }}",
            "Risk_Score": "={{ $json.Risk_Score }}",
            "Fraud_Status": "={{ $json.Fraud_Status }}"
          },
          "matchingColumns": [
            "Transaction_ID"
          ],
          "schema": [
            {
              "id": "Transaction_ID",
              "displayName": "Transaction_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer_ID",
              "displayName": "Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount_(INR)",
              "displayName": "Amount_(INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Time",
              "displayName": "Transaction_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account_Age_(Days)",
              "displayName": "Account_Age_(Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prev_Txn_Count",
              "displayName": "Prev_Txn_Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outflow_Ratio_%",
              "displayName": "Outflow_Ratio_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Type",
              "displayName": "Transaction_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Merchant_Category",
              "displayName": "Merchant_Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Device_Status",
              "displayName": "Device_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Impossible_Travel",
              "displayName": "Impossible_Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rules_Triggered",
              "displayName": "Rules_Triggered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Score",
              "displayName": "Risk_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fraud_Status",
              "displayName": "Fraud_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        496
      ],
      "id": "fe7aedb5-de0c-4a0a-bec9-f56358af317d",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9h0nAh2v2l0QsSG7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320542336,
          "mode": "list",
          "cachedResultName": "Transaction_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V18_qABS9WwHYi2zGw1lN7Se0B47Ys1g0b3ngKoNimI/edit#gid=320542336"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transaction_ID": "={{ $json.Transaction_ID }}",
            "Rules_Triggered": "={{ $json.Rules_Triggered }}",
            "Risk_Score": "={{ $json.Risk_Score }}",
            "Fraud_Status": "={{ $json.Fraud_Status }}"
          },
          "matchingColumns": [
            "Transaction_ID"
          ],
          "schema": [
            {
              "id": "Transaction_ID",
              "displayName": "Transaction_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer_ID",
              "displayName": "Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount_(INR)",
              "displayName": "Amount_(INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Time",
              "displayName": "Transaction_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account_Age_(Days)",
              "displayName": "Account_Age_(Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prev_Txn_Count",
              "displayName": "Prev_Txn_Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outflow_Ratio_%",
              "displayName": "Outflow_Ratio_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction_Type",
              "displayName": "Transaction_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Merchant_Category",
              "displayName": "Merchant_Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Device_Status",
              "displayName": "Device_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Impossible_Travel",
              "displayName": "Impossible_Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rules_Triggered",
              "displayName": "Rules_Triggered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Score",
              "displayName": "Risk_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fraud_Status",
              "displayName": "Fraud_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        320
      ],
      "id": "444ab558-22ff-4d41-9e47-968e641fbcc5",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9h0nAh2v2l0QsSG7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nagpaldivanshu98@gmail.com",
        "subject": "🚨 HIGH RISK ALERT — {{ $json.Transaction_ID }}",
        "message": "=<h2 style=\"color:red\">🚨 HIGH RISK TRANSACTION DETECTED</h2>  <b>Transaction ID:</b> {{ $json.Transaction_ID }}<br> <b>Customer:</b> {{ $node[\"Code in JavaScript\"].json[\"Customer_Name\"] }}<br>\n<b>Amount:</b> ₹{{ $node[\"Code in JavaScript\"].json[\"Amount_(INR)\"] }}<br>\n<b>Location:</b> {{ $node[\"Code in JavaScript\"].json[\"Location\"] }}<br> <b>Rules Triggered:</b> {{ $json.Rules_Triggered }}<br> <b>Risk Score:</b> {{ $json.Risk_Score }}<br> <b>Status:</b> <span style=\"color:red\">HIGH RISK 🔴</span><br><br>  <b>ACTION: Block transaction and escalate to Risk Manager immediately.</b><br><br> — Automated Fraud Detection System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "71a09d51-3150-4d03-8bb9-f52f405386d2",
      "name": "Send a message",
      "webhookId": "b45bfb6c-1384-4b38-bf35-5ff42fdbf5b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "FekDXoUcogyIlV6e",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nagpaldivanshu98@gmail.com",
        "subject": "=⚠️ MEDIUM RISK FLAGGED — {{ $json.Transaction_ID }}",
        "message": "=<h2 style=\"color:orange\">⚠️ MEDIUM RISK TRANSACTION FLAGGED</h2>  <b>Transaction ID:</b> {{ $json.Transaction_ID }}<br> <b>Customer:</b> {{ $node[\"Code in JavaScript\"].json[\"Customer_Name\"] }}<br>\n<b>Amount:</b> ₹{{ $node[\"Code in JavaScript\"].json[\"Amount_(INR)\"] }}<br>\n<b>Location:</b> {{ $node[\"Code in JavaScript\"].json[\"Location\"] }}<br> <b>Rules Triggered:</b> {{ $json.Rules_Triggered }}<br> <b>Risk Score:</b> {{ $json.Risk_Score }}<br> <b>Status:</b> <span style=\"color:orange\">MEDIUM RISK 🟠</span><br><br>  Please review and monitor this transaction.<br><br> — Automated Fraud Detection System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        144
      ],
      "id": "c95cf74a-7b2f-4a35-bf8e-9b04ed063826",
      "name": "Send a message1",
      "webhookId": "95f0f09f-89c6-40c7-b023-f4349181178f",
      "credentials": {
        "gmailOAuth2": {
          "id": "FekDXoUcogyIlV6e",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3df7612e-fa08-4e2c-9b05-df2887ce1716",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "adaddcb31527e9573fc1f0b433ebf8a4fa9cfb191f70cc4ed76b9ac2d80600a3"
  },
  "id": "zlZg7cbm1hFvBVem",
  "tags": []
}